{% load static %}

<link rel="stylesheet" href="{% static 'pages/main.css' %}?">

<header class='contact-header'>
    <nav class='main-nav'>
        <ul>
            <li>
                <a href="{% url 'home-view' %}" >Home</a>
            </li>
        </ul>
    </nav>
    <h2>Login</h2>
    <h6>Work in progress...</h6>
    <p style="font-size:20px;">Can currently create and login to an account, but dont have any additional functionality yet.</p>
</header>

<div class='contact'>
    <!-- <center> -->
        {% block content %}
        
        <!-- <div> -->
        <center>
            {% if messages %}
            <ul class='messages'>
                {% for message in messages %}
                <li {% if message.tags %} class="{{message.tags}}"{%endif%}>{{message}}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <div>
                <form action="" method="POST" role="form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button style="background-color: #388CD2;" type="submit">Login</button>
                    <br>
                    <br> Don't have an account? <a href="{% url 'register' %}">Create Account</a>
                </form>
            
            </div>
        </center>

        {% endblock %}
    <!-- </center> -->
</div>