{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                margin: 0;
            }

            #canvas {
                border: 1px solid black;
            }

        </style>
        <title>BrickBreak</title>
    </head>

    <body>
        <canvas id='canvas'></canvas>
        <script>
            var brick = "{% static 'pages/games/brickbreak/images/brick.png' %}"
            var gameover = "{% static 'pages/games/brickbreak/images/gameOver.png' %}"
            var victory = "{% static 'pages/games/brickbreak/images/victory.png' %}"
            var screen = "{% static 'pages/games/brickbreak/images/screen.png' %}"
        </script>
        <script src="{% static 'pages/games/brickbreak/canvas.js' %}?"></script>
    </body>
</html>