{% load static %}
<link rel="stylesheet" href="{% static 'pages/main.css' %}">

<header class='contact-header'>
    <nav class='main-nav'>
        <ul>
            <li>
                <a href="{% url 'home-view' %}" >Home</a>
            </li>
        </ul>
    </nav>
    <h2>Contact Me</h2>
</header>

<div class='contact'>
    <center>
        {% block content %}

        {% if messages %}
        <ul class='messages'>
            {% for message in messages %}
            <li {% if message.tags %} class="{{message.tags}}"{%endif%}>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <form action="" method="POST" role="form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Send</button>
        </form>
        {% endblock %}
    </center>

</div>