
<!DOCTYPE html>

<html>
		<head>
            {% load static %}
            <link rel="stylesheet" href="{% static 'pages/main.css' %}?" type=text/css>
            <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
            <title>Home</title>
		</head>

		<body>
            <header class='main-header background'>
                <!-- <canvas></canvas> -->
                <nav class='main-nav'>
                    <ul>
 
                        <li>
                            <a href="{% url 'games-view' %}">Games</a>
                        </li>
                        <li>
                            <a href="{% url 'money-view' %}">Money</a>
                        </li>
                        <li class='signup'>
                            {% if user.is_authenticated %}
                                <a href="{% url 'account-view' %}">Account</a>
                            {% else %}
                                <a href="{% url 'login-view' %}">Login</a>
                            {% endif %}
                        </li>
                        <!-- <li><a href="versions/versions.html">Versions</a></li> -->
                    </ul>
                </nav>                
                <div class='title'>
                    <h1>Christopher Beeman</h1>
                    <h3><strong>Michigan State Class of 2021</strong></h3>
                </div>
                

                <!-- <script src='canvas.js'></script> -->
            </header>
            
            <section class='section'>
                <div class='about'>
                    <header class='header'>About Me</header>
                    <article class='me'>
                        <p>My name is Christopher Beeman and I am currently a junior (4th year) computer science major at Michigan State
                                University. Originally a mechanical engineering major, I was required to take a programming class my
                                sophomore (2nd) year that I ended up dedicating all my time to because of my desire to learn and complete the projects. 
                                My long-term goal is to become a self-sufficient programmer. I would like to break into a career as a web developer with
                                this website as my first attempt and first project done outside of a curriculum, while also serving as a resume. 
                                I have taken courses teaching Python, C++, and some basic C, but I began learning HTML, JavaScript, and 
                                CSS over this past summer. Most of what I have programmed in JS and HTML are shown on display here. 
                                My next plan to further develop this website and my web development knowledge will be learning django
                                so I can create my own server and have this website be accessible on the internet. One thing 
                                I would like to add is an email form that will allow a visitor to contact me through the website and an 
                                account system. I want to learn more backend practices and overall how to work in the backend to communicate with
                                databases so I can create more dynamic webpages.
                        </p>
                        <figure class='git'>
                            <a href="https://github.com/cbeemers" target='_blank'>
                                <img src="{% static 'pages/img/github.png' %}" alt="">
                            </a>
                            <figcaption>Link to my GitHub profile: cbeemers</figcaption>
                        </figure>
                    </article>
                    <aside class="aside aside-1" style='color: rgb(18, 46, 18)'>1</aside>
                    <aside class="aside aside-2" style='color: rgb(67, 68, 67)'>2</aside>
                </div>
            </section>
            
            <section class='section'>
                <div class='skills'>  
                    <header class='header'>My Skills</header>
                    <div class='lang'>
                        <div class='lang-align'>
                            <img src="{% static 'pages/img/c++.png' %}" alt="C++"> 
                            <span>Experience with multiple classes working to make a single project. Knowledge of using abstract 
                                classes to create objects of type class that inherit traits and functions common to other objects derived
                                from the base. 
                                <br> Experience creating a GUI with handler events that range in capabilities from drawing content to the window 
                                to opening and saving files. 
                                <br> <b>Classes taken involving C++:</b> CSE 232 -- Introduction to Programming 2; CSE 335 -- Software Design
                                <br> Also minor experience with C, taking in command line arguments and creating a shell.
                                <br> <b>Classes Taken:</b> CSE 320 -- Computer Organization and Architecture
                            </span>
                        </div>
                        
                    </div>
                    <div class='lang'>
                        <div class='lang-align'>
                            <img src="{% static 'pages/img/python.png' %}" alt="python">
                            <span>Experience parsing and reading files to display and use data in a relevant way. Create an input driven
                                GUI that prompts user for next command and executes accordingly, including proper error checking.
                                <br> Used classes and algorithms in class methods to implement and better my understanding of data structures. 
                                <br> Worked with Django framework to create a live server my website can run off of.
                                <br> Have used the Beautiful Soup library to parse html and <a class='scrape' href="https://github.com/cbeemers/Web-Scraping" target='_blank'>scrape</a> data from websites
                                <br> <b>Classes Taken:</b> CSE 231 -- Introduction to Programming; CSE 331 -- Data Structures and Algorithms
                            </span>
                        </div>
                    </div>
                    <div class='lang'>
                        <div class='lang-align'>
                            <img src="{% static 'pages/img/html.png' %}" alt="html">
                            <span>Experience creating a web user layout that effectively and creatively displays content.
                                Have used many different files to create a full website that includes multiple pages, interactive
                                functions that integrate JavaScript, links that navigate away from the page, etc. 
                                <br>Experience integrating python scripts to make the webpage more dynamic.
                                <br> Most of my HTML knowledge is on display here; over the summer of 2019 I took it upon myself to learn
                                new concepts and in the process started this project.
                                <br> <b>Classes Going to Take:</b> CSE 477 -- Web Development (Spring 2020)
                            </span>
                        </div>
                    </div>
                    <div class='lang'>
                        <div class='lang-align'>
                            <img src="{% static 'pages/img/js.png' %}" alt="JavaScript">
                            <span>Another language that I began learning outside of my degree requirements.
                                Experience drawing elements to canvas and creating interactions between the user and those
                                elements. Used a time interval or an animation frame to create a constantly updating canvas that
                                draws and redraws elements in real time. 
                                <br> Have used a few different JS modules to help create a more dynamic webpage. Very minor knowledge of 
                                jquery to help add functionality to my pages, more limited knowledge of express to create a local server my
                                webpage can run on.
                                <br> JS is a language that I would like to spend more time learning because of its prevalence in the web dev field 
                                and constantly evolving uses.
                            </span>
                        </div>
                    </div>
                    <div class='lang'>
                        <div class='lang-align'>
                            <img src="{% static 'pages/img/php.png' %}" alt="PHP">
                            <span>Experience using PHP as an object oriented backend language to create a user interactive page.
                                Communication with a database to create and store user information.
                                <br>Recently created a web application clue game using PHP.
                                <br> <b>Classes Going to Take:</b> CSE 477 -- Web Development (Spring 2020)
                            </span>
                        </div>
                    </div>
                    <div><p style='text-align: center; padding-top: 20px;'>*Currently taking a mobile app development class working with android software. Going to be using Java extensively for the first time.</p></div>
                    
                </div>    
            </section>
            
            <footer class='footer'>

                <h1>beemanch@msu.edu</h1>
                <a class='contact-link' href='mailto:cbeems13@gmail.com'><h1>cbeems13@gmail.com</h1></a>
                <!-- <a class='contact-link' href="{% url 'contact-view' %}"><h1>Contact Me</h1></a> -->
                <a href="https://twitter.com/ChrisBeeman12" target="_blank">
                    <img src="{% static 'pages/img/twitter.png' %}" alt="twitter">
                </a>
                <a href="https://www.instagram.com/beemanchris/" target="_blank">
                    <img src="{% static 'pages/img/instagram.jpeg' %}" alt="instagram">
                </a>
                <a href="https://www.facebook.com/christopher.beeman.5" target='_blank'>
                    <img src="{% static 'pages/img/facebook.png' %}" alt="facebook">
                </a>
                <a href="https://www.linkedin.com/in/christopher-beeman-506711187" target='_blank'>
                    <img src="{% static 'pages/img/linked.png' %}" alt="Linked-in">
                </a>
            </footer>
		</body>
</html>