<!DOCTYPE html>

<html>
    <head>
        {% load static %}
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="{% static 'pages/money/money.css' %}?">
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
        <script type='module' src="{% static 'pages/money/money.js' %}?"></script>
        <script type='module' src="{% static 'pages/money/hours.js' %}?"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>

    <body>
        <div class ='main-container'>
            <header class='main-header background'>
                <nav class="main-nav">
                    <ul>
                        <li><a href="{% url 'home-view' %}">HOME</a></li>
                        <li><a href="{% url 'games-view' %}">GAMES</a></li>
                    </ul>
                </nav>
                <h1>Money Tracking</h1>
                <p class='descript'>
                    Here is an excel sheet that I maintained over a previous summer tracking all of the money 
                    I made working at a restaurant. Here I plan to graph and utilize this data to be 
                    displayed/styled and tracked through Javascript. For some reason when the javascript was transfered
                    from my local files to the django app, the hours tracking stopped working properly and I have yet to find a solution.
                </p>
                <p class='descript' style='text-align:center;'>Note: does not work on mobile. Need mouse to hover over options to display dropdown menus. </p>
            </header>
            <div class='menu'>
                <!-- <div class='dropdown'> -->
                <ul class='list'>
                    <li class='money-dropdown'>
                        <h1 class='money'>Money</h1>
                        <div class='dropdown-cont'>
                            <div class='days'>
                                <button class='day'>Days</button>
                                <ul class='money-sub-menu sub-menu'>
                                    <li><button id='monday'>Monday</button></li>
                                    <li><button id='tuesday'>Tuesday</button></li>
                                    <li><button id='wednesday'>Wednesday</button></li>
                                    <li><button id='thursday'>Thursday</button></li>
                                    <li><button id='friday'>Friday</button></li>
                                    <li><button id='saturday'>Saturday</button></li>
                                    <li><button id='sunday'>Sunday</button></li>
                                </ul>
                            </div>

                            <button id='tips-week'>Tips/Week</button>
                            <button id='total-money'>Total/Week</button>
                        </div>
                    </li>
                    <li class='hours-dropdown'>
                        <h1>Hours</h1>
                        <div class='dropdown-cont'>
                            <button class='day'>Days</button>
                                <ul class='hours-sub-menu sub-menu'>
                                    <li><button id='monday'>Monday</button></li>
                                    <li><button id='tuesday'>Tuesday</button></li>
                                    <li><button id='wednesday'>Wednesday</button></li>
                                    <li><button id='thursday'>Thursday</button></li>
                                    <li><button id='friday'>Friday</button></li>
                                    <li><button id='saturday'>Saturday</button></li>
                                    <li><button id='sunday'>Sunday</button></li>
                                </ul>
                            <button id='hours-week'>Hours/Week</button>
                            <button id='total-hours'>Total</button>
                        </div>
                    </li>
                </ul>
            </div>
            <div id='graphs'>
                <canvas id="canvas"></canvas>
                <!-- <div class='total'>
                    <button>Total</button>
                    <button>Average</button>
                </div> -->

                <!-- <div class='total'>
                    <canvas id='hours'></canvas>
                </div> -->
            </div>
            <script>
                
                
            </script>

            <script type='module'>
                var money_fp = "{% static 'pages/money/money.csv' %}";
                import { getMoney, total, perDay, weekly } from "{% static 'pages/money/money.js' %}?";

                $(function() {
                    $('.day').on('click', function() {
                        $('.sub-menu').toggle();
                    });
                    $('.money-sub-menu').on('click', 'button', function(event){
                        reset();
                        perDay(money_fp, event.target.id);
                    });
                });
                
                $(function() {
                    $('#tips-week').on('click', function () {
                        reset();
                        //getMoney(money_fp);
                        total(money_fp);
                    });
                });

                $(function () {
                    $('#total-money').on('click', function() {
                        reset();
                        //getMoney(money_fp);
                        weekly(money_fp);
                    });
                });
                
                function reset() {
                    $('#canvas').remove();
                    $('#graphs').append('<canvas id="canvas"><canvas>');
                }
            
            </script>
            <script type='module'>
                var hours_fp = "{% static 'pages/money/hours.csv' %}";
                import { getHours, totalHours, perDay } from "{% static 'pages/money/hours.js' %}?";
                $(function() {
                    $('#hours-week').on('click', function() {
                        reset();
                        getHours(hours_fp);
                        totalHours(hours_fp);
                    });
                });

                $(function() {
                    $('.hours-sub-menu').on('click', 'button', function(event){
                        reset();
                        perDay(hours_fp, event.target.id);
                    });
                });

                function reset() {
                    $('#canvas').remove();
                    $('#graphs').append('<canvas id="canvas"><canvas>');
                }

            </script>
        </div>
        <footer class='footer'>
            <div class='sheets'>
                <a href="https://docs.google.com/spreadsheets/d/1iuxVyXM41UjVi6HW4tQ3UZwvFXQVsgkW4y2SyNy5UWM/edit?usp=sharing" target='blank'>
                <h3>Excel Sheet</h3>
                </a>
                <a style='padding-top: 0;'href="{% url 'contact-view' %}"><h3>Contact Me</h3></a>
            </div>
            

        </footer>
    </body>
</html>