* {
    box-sizing: border-box;
}

.background {
    background: url("images/curtain.jpg");
    background-size: cover;
    background-position: 50% 50%;
    min-height: 400px;

}

body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

#canvas {
    z-index: -1;
    position: fixed;
    padding: 0;
    margin: 0;
    min-height: 400px;
    /* background-color: rgba(206, 84, 84); */
    background: #388CD2;
}

.contact-link {
    text-decoration: none;
    display: center;
    color: white;

}

.contact-link:hover {
    color: #cccccc;
}

.descript {
    padding: 0 50px 20px 50px;
    /* color: black; */
    
}

figure {
    margin: 0;
}

figcaption {
    text-align: center;
    color: white;
}

/* .footer {
    
    height: 150px;
    text-align: center;
    color: white;

} */

.footer {
    color: white;
    /* position: absolute; */
    background: #388CD2;
    bottom: 0;
    width: 100%;
    text-align: center;
    min-height: 150px;
    /* max-height: 100%; */
}

.footer h3 {
    padding-top: 10px;
    margin: 0;
    font-size:18px;
}

.games {
    display: flex;
    flex-direction: row; 
    /* background-image: url("images/background.png"); */
    /* background-image: url("images/curtain.jpg");
    background-repeat: no-repeat; */
    height: 600px;
    border-bottom: 3px solid black;
    
}

.games div {
    padding: 20px;
    margin: auto;
    
}

.games img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 200px;
    height: 150px;

}

.games img:hover {
    background-color: rgba(43, 230, 105, 0.884);
    /* opacity: .5; */
}

header{
    /* background: url("images/arcade.jpg"); */
    background-size: cover;
    /* background-position: 50% 50%; */
    /* background-blend-mode: multiply; */
    padding-bottom: 20px;
    /* min-height: 50%; */
}

.h {
    width: 100%;
    color: white;
    /* text-align: center; */
    background: #388CD2;
    font-size: 32px;
    height: 100px;
    border-bottom: 3px solid black;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h a {
    padding: 0;
    text-decoration: none;
    color: white;
}

.h ul li {
    padding: 0 20px 0 0;
}

.main-container {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    /* padding-bottom: 100px;  */
    /* <!--  --> */
}

#main-header {
    z-index: 1;
    margin: 0;
    border-bottom: 3px solid black;
    min-height: 500px;
    text-align: center;
    color: white;
    font-size: 20px;
}

#main-header a {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    opacity: .5;
    /* font-size: 24px; */
}

#main-header ul {
    margin: 0; 
    padding: 20px 0 20px 0;
}

li{
    padding: 20px;
    display: inline;
}

#main-header h1 {
    text-align: center;
    color: white;
    font-size: 56px;

}

nav {
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
}